body {
    background: linear-gradient(to bottom, #62c1e8, #2358b5);
    padding-top: 10rem;
  }

.header {
    width: 90%;
    max-width: 1200px;
    height: 70px;
    background-color: #002f6c;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    border-radius: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .logo {
    display: block;
    margin: 0 auto;
    width: 70px;
    height: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  #home-btn {
    color:#ffffff;
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: auto;
    cursor: pointer;
  }
